body {
    background-color: rgb(192, 188, 188);
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-menu {
    width: 100%;
}

#nav-menu li {
    float: left;
}

#nav-menu li a {
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-menu li:hover {
    background-color: rgb(70, 68, 68);
}

.responsive-menu {
    background-color: rgb(146, 143, 143);
}

.hamburger {
    float: right;
    padding-right:50px;
    padding-top: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

a, button, .hamburger {
    cursor: pointer;
}

#js-show-me {
    margin: auto;
    padding-top: 50%;
    width: 100%;
}

#landing-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: sans-serif;
    height: 60px;
    left: 25%;
    line-height: 60px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 40%;
    width: 200px;
}

a span {
    background: white;
    display: block;
}

a span:nth-child(1),
a span:nth-child(3) {
    height: 2px;
    position: absolute;
    width: 100%;
}

a span:nth-child(2),
a span:nth-child(4) {
    height: 100%;
    position: absolute;
    width: 2px;
}

a span:nth-child(1) {
    left: -100%;
    top: 0;
    transition: .2s;
}

a span:nth-child(2) {
    right: 0;
    top: -100%;
    transition: .4s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    transition: .6s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    transition: .8s;
}

a:hover span:nth-child(1) {
    left: 0;
    top: 0;
}

a:hover span:nth-child(2) {
    right: 0;
    top: 0;
}

a:hover span:nth-child(3) {
    right: 0;
    bottom: 0;
}

a:hover span:nth-child(4) {
    bottom: 0;
    left: 0;
}

.old-currencies,
.new-currencies{
    width: 100%;
}

.old-currencies li, .new-currencies li {
    display: inline-block;
}

.currency button {
    background-color: antiquewhite;
    border: 2px solid white;
    border-radius: 25px;
    color: rgb(66, 65, 65);
    font-family: sans-serif;
    font-size: 20px;
    height: 80px;
    left: 10px;
    margin: 0 0 30px 0;
    padding: 8%;
    position: relative;
    text-decoration: none;
    top: 150px;
    width: 80px;
}

.hidden {
    display: none;
}

h1, h3 {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.856);
}

@media only screen and (max-width: 800px) {
    .responsive-menu {
        display: none;
    }

    .overflow {
        overflow: hidden;
    }
}

@media only screen and (min-width: 800px) {

    .hamburger {
        display: none;
    }

    #landing-btn {
        border: none;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .currency button:hover {
        background-color: rgb(117, 117, 231);
        color: white;
    }

    #js-confirmation {
        font-size: 30px;
        position: relative;
        text-align: center;
        top: 18px;
    }
    #js-confirmation h1 {
        font-size: 100px;
    }

    #js-confirmation button {
        background-color: antiquewhite;
        border: 2px dotted white;
        border-radius: 25px;
        color: black;
        cursor: pointer;
        font-size: 50px;
        height: 100px;
        width: 200px;
    }

    #js-confirmation button:hover {
        border: black dotted 2px;
        color: white;
    }
}


